accelerate==0.28.0
datasets
evaluate
gpustat
matplotlib
# numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
numpy
pandas
scikit_learn
tensorboard
tensorboardX
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
nltk
